*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common style */
.width-container{
    max-width: 1140px;
    margin: 0 auto;
}
.common-btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

/* nav style */
header{
    background-image: url("../Assets/Hero-bg.png");
    height: 675px;
}
.nav-parent{
    display: flex;
    justify-content: space-between;
}
.nav-parent .common-btn{
    margin: 50px 0;
}
.nav-logo{
    margin: 50px 0;
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}

/* banner style */
.banner-section{
    text-align: center;
    margin: 150px auto;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
}

/* action-section */
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px auto;
    gap: 220px;
}
.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.left-action h2{
    font-size: 42px;
    font-weight: 700;
}
.left-action p{
    font-size: 24px;
    margin: 24px 0;
    color: rgba(37, 36, 50, 0.5);
}

/* user section */
.user-section{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    text-align: center;
    padding: 50px 140px;
    margin-bottom: 130px;
}
.user-section h2{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 40px;
}
.user-container{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.user-num h1{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.user-num span{
    font-size: 20px;
    color: rgba(37, 36, 50, 0.5);
}

/* review section */
.review-section{
    margin-bottom: 130px;
}
.review-section-title{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
}
.review-container{
    display: flex;
    gap: 20px;
}
.review{
    border: 1px solid rgba(242, 237, 237, 1);
    border-radius: 14px;
    padding: 24px;
}
.review h2{
    margin-top: 24px;
}
.review-img{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
.review-img img{
    border-radius: 50px;
}

/* focus section */
.focus-section{
    border: 1px solid rgba(242, 237, 237, 1);
    border-radius: 14px;
    text-align: center;
    padding: 70px 150px;
    margin-bottom: 90px;
}
.focus-section p{
    color: rgba(37, 36, 50, 0.5);
    margin: 20px 0;
}
.focus-section img{
    display: block;
    border-radius: 48px;
    margin-top: 20px;
}

